@import url('https://fonts.googleapis.com/css?family=Montserrat|Neuton:300,400');
$title-font:'Montserrat',
sans-serif;
$body-font:'Neuton',
serif;
$accent:#46bc96;
$type:#ffffff;
$main-color:#333132;
$page:100vw;
$menu:100px;
$side: 45px;
$top: 35px;
$op:.85;
body {
    background-color: $main-color;
    height:100%;
}

header {
    position: absolute;
    top: 0;
    width: $page;
    height: $menu;
    background-color: $main-color;
    z-index: 5;
    nav {
        float: right;
        line-height: 30px;
        margin: $top $side;
        a {
            color: $type;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $title-font;
            font-size: 1em;
            margin-left: 20px;
        }
    }
}

header nav a:hover {
    color: $accent;
}

#logo {
    position: relative;
    top: 25px;
    left: $side;
    float: left;
    width: 65px;
    height: 50px;
    background-color: $accent;
    opacity: $op;
    h1 {
        font-family: $title-font;
        color: $main-color;
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        padding-top: 12px;
    }
}

.student-grid {
    position: relative;
    top: $menu;
    display: flex;
    flex-wrap: wrap;
    .student {
        width: 25%;
        height: 300px;
        &>img{
            width:100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
}

.student:hover{
    opacity: $op;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalContent{
    background-color: $accent;
    max-width: 50%;
    padding: $top $side $top $side;
    h1 {
        font-family: $title-font;
        color: $type;
        font-size: 1.5em;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    p {
        font-family: $body-font;
        color: $type;
        font-size: 1.2em;
        letter-spacing: 2px;
        font-weight:300;
    }
}

@media only screen and (max-width: 767px) {
    .student-grid {
        position: absolute;
        top: $menu;
        display: flex;
        flex-wrap: wrap;
        .student {
            width: 50%;
            // height: 50%;
        }
    }
}
