@import url("https://fonts.googleapis.com/css?family=Montserrat|Neuton:300,400");
body {
  background-color: #333132;
  height: 100%; }

header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100px;
  background-color: #333132;
  z-index: 5; }
  header nav {
    float: right;
    line-height: 30px;
    margin: 35px 45px; }
    header nav a {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      margin-left: 20px; }

header nav a:hover {
  color: #46bc96; }

#logo {
  position: relative;
  top: 25px;
  left: 45px;
  float: left;
  width: 65px;
  height: 50px;
  background-color: #46bc96;
  opacity: 0.85; }
  #logo h1 {
    font-family: "Montserrat", sans-serif;
    color: #333132;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 12px; }

.student-grid {
  position: relative;
  top: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .student-grid .image {
    width: 25%;
    height: 300px; }
    .student-grid .image > img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.image:hover {
  opacity: 0.85; }

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.modalContent {
  background-color: #46bc96;
  max-width: 35%;
  margin: 20% auto;
  padding: 35px; }
  .modalContent h1 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-decoration: underline; }
  .modalContent h3 {
    color: #ffffff;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-size: 1.35em;
    letter-spacing: 2px;
    padding-bottom: 2px;
    text-transform: capitalize; }
  .modalContent p {
    font-family: "Neuton", serif;
    color: #333132;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 300; }

.open {
  color: #333132;
  float: right;
  font-size: 18px;
  font-family: "Montserrat", sans-serif; }

.open:hover {
  color: #ffffff; }

@media only screen and (max-width: 767px) {
  .student-grid {
    position: absolute;
    top: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .student-grid .student {
      width: 50%; } }
